{
    "production": {
        "token": "******",
        "demo_ds_password": "******",
        "demo_ds_user": "******",
        "demo_ds_schema": "******",
        "demo_ds_url": "jdbc:snowflake://******"
    },
    "development": {
        "token": "YWRtaW46Ym9vdHN0cmFwOmFkbWluMTIz",
        "demo_ds_password": "******",
        "demo_ds_user": "******",
        "demo_ds_schema": "******",
        "demo_ds_url": "jdbc:snowflake://******"
    }
}
